{% extends "main/base.html" %}

{% block page_content %}
<div class="page-header">
	<img src="{{ gravatar }}">	
	<div class="profile-header">
		<h1>{{ user.username }}</h1>
		{% if user.name and user.location %}
		<p>
			{% if user.name %}{{ user.name }}<br>{% endif %}
			{% if user.location %}
				From {{ user.location }}<br>	
			{% endif %}
		</p>
		{% endif %}
         {% if user.is_administrator %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            Member since {{ user.date_of_birth }}.<br>
            Last seen {{ user.last_login }}.</p>
        <p>
            {% if user %}
            <a class="edit_profile" href="{% url 'main:edit_profile' %}">Edit Profile</a>
            {% endif %}
            {% if user.is_administrator %}
            <a class="" href="">Edit Profile [Admin]</a>
            {% endif %}
        </p>
    </div>
</div>	
{% endblock page_content %}
